%tr
  %td
    %p.font-16= t('item_total')
  %td
    %p.font-16= price_in_currency(@order.subtotal)
%tr
  %td
    %p.font-16 Shipping:
  %td
    %p.font-16= price_in_currency(@order.delivery.price) if @order.delivery.present?
%tr
  %td
    %strong.font-18= t('total') + ":"
  %td
    %strong.font-18= price_in_currency(@order.total_price)